src/main/resources/publisher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PublisherWSDL"
             targetNamespace="publisher"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ns="publisher"
             xmlns:bns="books"
             xmlns:pns="papers"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="books">
            <xsd:import namespace="books" schemaLocation="books.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="papers">
            <xsd:import namespace="papers" schemaLocation="papers.xsd"/>
        </xsd:schema>
    </types>

    <service name="BookService">
        <port name="BookServicePort" binding="ns:BookServicePortBinding">
            <soap:address location="http://localhost:8080/book"/>
        </port>
    </service>
    <service name="PaperService">
        <port name="PaperServicePort" binding="ns:PaperServicePortBinding">
            <soap:address location="http://localhost:8080/paper"/>
        </port>
    </service>

    <binding name="BookServicePortBinding" type="ns:BookServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="PaperServicePortBinding" type="ns:PaperServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="response">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <portType name="BookServicePortType">
        <operation name="list">
            <input name="request" message="ns:bookListRequest"/>
            <output name="response" message="ns:bookListResponse"/>
        </operation>
    </portType>
    <portType name="PaperServicePortType">
        <operation name="list">
            <input name="request" message="ns:paperListRequest"/>
            <output name="response" message="ns:paperListResponse"/>
        </operation>
    </portType>

    <message name="bookListResponse">
        <part name="list" element="bns:books"/>
    </message>
    <message name="bookListRequest"/>
    <message name="paperListResponse">
        <part name="list" element="pns:papers"/>
    </message>
    <message name="paperListRequest"/>
</definitions>
